<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>find id Result</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/findIdRst.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}" />
<body>
     <header>
        <div class="logo-section">
            <img src="/images/studylogo.png" th:onclick="|location.href='@{/show/Main}'|">
        </div>
        <div class="button-section">
            <span id="sign-up"><a th:href="@{/user/signUp}">회원가입</a></span>
            <span id="log-in"><a th:href="@{/user/login}">로그인</a></span>
        </div>
    </header>

    <main>
    	<input type="hidden" id="memberId" th:value="${memberId}">
    	<input type="hidden" id="joinDate" th:value="${joinDate}">
        <div class="findId-area">
            <h2>아이디 찾기</h2>
            <hr>
            <p>입력해주신 고객님의 정보와 일치하는 아이디 목록입니다.</p>
            <div class="result-area" th:if="${memberId != null}">
                <div class="result-cont">
                    <p>아이디 : <span th:text="${memberId}"></span></p>
                    <p>가입 : <span th:text="${joinDate}"></span></p>
                </div>
                <div class="button-area">
                <button type="button" id="loginBt" th:onclick="|location.href='@{/user/login}'|">로그인하기</button>
                <button type="button" id="findPwBt" th:onclick="|location.href='@{/user/findPw}'|">비밀번호 찾기</button>
            </div>
            </div>
            
            <div class="result-area" th:if="${memberId == null}">
                <div class="result-cont">
                    <p>없는 회원입니다.</p>
                </div>
                <div class="button-area">
                <button type="button" id="loginBt" th:onclick="|location.href='@{/user/signUp}'|">회원가입</button>
                <button type="button" id="findPwBt" th:onclick="|location.href='@{/user/findPw}'|">비밀번호 찾기</button>
            </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-area">
            <div class="introduce">
                <h4>스.구.사</h4>
                <p>스터디가 하고 싶은 당신을 위한 플랫폼</p>
            </div>
            <p>
                <span>create by 신수빈 <a>GitHub</a></span><br>
                <span>이메일 : shinsoobin2@gmail.com</span><br>
                <span>© 2025 신수빈. 개인 포트폴리오용 프로젝트입니다.</span>
            </p>
        </div>
    </footer>
</body>
</html>