<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/signup.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}" />
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/signup.js}"></script>

<body>
    <header>
        <div class="logo-section">
            <img src="/images/studylogo.png" th:onclick="|location.href='@{/show/Main}'|">
        </div>
        <div class="button-section">
            <span id="sign-up"><a th:href="@{/user/signUp}">회원가입</a></span>
            <span id="log-in"><a th:href="@{/user/login}">로그인</a></span>
        </div>
    </header>
    
    <script th:if="${errorMessage != null}" th:inline="javascript">
    	alert(/*[[${errorMessage}]]*/'');
	</script>

    <main>
        <div class="form-section">
            <h1>회원가입</h1>
            <form id="join-form" th:action="@{/user/signupForm}" method="post">
                <div class="form-content">
                    <div class="form-list">
                        <div class="form-item userId">
                            <input type="text" id="userId" name="userId" placeholder="아이디">
                        </div>
                        <div class="error-text" id="idError">
                            필수 항목 : 아이디를 입력해주세요.
                        </div>

                        <div class="form-item userPw">
                            <input type="password" id="userPw" name="userPw" placeholder="비밀번호 (8자 이상)">
                        </div>
                        <div class="error-text" id="pwError">
                            필수 항목 : 비밀번호를 입력해주세요.
                        </div>

                        <div class="form-item userPw">
                            <input type="text" id="userNickname" name="userNickname" placeholder="닉네임">
                            <button type="button" id="checkNickname">중복 확인</button>
                        </div>
                        <p id="nicknameResult"></p>
                        <div class="error-text" id="pwError">
                            필수 항목 : 비밀번호를 입력해주세요.
                        </div>
                    </div>

                    <div class="form-list">
                        <div class="form-item userName">
                            <input type="text" id="userName" name="userName" placeholder="이름">
                        </div>
                        <div class="error-text" id="nameError">
                            필수 항목 : 이름을 입력해주세요.
                        </div>

                        <div class="form-item userBirth">
                            <input type="date" id="userBirth" name="userBirth" placeholder="생년월일 (20000101)" maxlength="8">
                        </div>
                        <div class="error-text" id="birthError">
                            필수 항목 : 생년월일을 입력해주세요.
                        </div>

                        <div class="form-item UserGender">
                            <ul class="radio-gender">
                                <li class="radio-item">
                                    <input type="radio" id="userGender1" name="userGender" value="M"> 
                                    <label for="userGender1">남자</label>
                                </li>
                                <li class="radio-item">
                                    <input type="radio" id="userGender2" name="userGender" value="W">
                                    <label for="userGender2">여자</label>
                                </li>
                            </ul>
                        </div>
                        <div class="error-text" id="genderError">
                            필수 항목 : 성별을 선택해주세요.
                        </div>

                        <div class="form-item userPhone">
                            <input type="text" id="userPhone" name="userPhone" placeholder="전화번호 (-) 빼고 입력" maxlength="11">
                        </div>
                        <div class="error-text" id="phoneError">
                            필수 항목 : 전화번호를 입력해주세요.
                        </div>
                    </div>

                    <!-- 네이버 인증 구현
                     https://blog.naver.com/hoonssss-/223315102411 -->
                    <div class="form-list">
                        <div class="form-item userEmail">
                            <input type="text" id="userEmail" name="userEmail" placeholder="(인증) 이메일 주소">
                        </div>
                        <div class="form-item emailCode">
                            <input type="text" id="emailCode" name="emailCode" placeholder="인증번호">
                        </div>
                        <div class="error-text" id="codeError">
                            잘못된 인증번호 : 다시 입력해주세요.
                        </div>
                    </div>
                    
                </div>
                
                <div class="form-btn-wrap">
                    <!--버튼누르면 btnJoin display block. btnSend는 display none-->
                    <button type="button" class="btn_submit" id="btnSend">인증요청</button>
                </div>
                <div class="form-btn-wrap">
                    <!--이메일인증이 성공하면(오류안뜨고 제대로 입력되면) js로 submit
                    <button type="button" class="btn_submit" id="btnJoin">가입하기</button> -->
                    
                    <button type="submit" class="btn_submit" id="btnJoin">가입하기</button>
                </div>
                
            </form>
        </div>

    </main>
    
    <footer>
        <div class="footer-area">
            <div class="introduce">
                <h4>스.구.사</h4>
                <p>스터디가 하고 싶은 당신을 위한 플랫폼</p>
            </div>
            <p>
                <span>create by 신수빈 <a>GitHub</a></span><br>
                <span>이메일 : shinsoobin2@gmail.com</span><br>
                <span>© 2025 신수빈. 개인 포트폴리오용 프로젝트입니다.</span>
            </p>
        </div>
    </footer>
</body>
</html>