main{
    margin: 0 auto;
    width: 1200px;
}

.brand {
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo {
  width: 36px;
  height: 36px;
  border-radius: 5px;
  background-color: rgba(63, 128, 250, 0.799);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 23px;
  font-weight: 700;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 20px;
  
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}

.nav-item.active{
    background-color: rgba(63, 128, 250, 0.799);
}

.nav-item:hover{
    background:rgba(0,0,0,0.03)
}

.admin-container {
	display: flex;
	margin-bottom: 100px;
}

.admin-nav {
    flex: 1;
    margin-right: 70px;
}

.admin-cont-area {
    flex: 3;
}
