main {
    height: 450px;
    width: 400px;
    margin: 0 auto;
}

.findId-area {
    margin-top: 80px;
}

.result-area {
    border: 2px solid rgba(128, 128, 128, 0.3);
    border-radius: 1px;
    text-align: center;
    height: 60px;
}

.result-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-area {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#loginBt {
    outline: none;
    margin: 10px 0 30px 0;
    width: 150px;
    height: 35px;
    background-color: #0A417A;
    color: white;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid rgba(128, 128, 128, 0.3);
    margin-right: 15px;
}

#findPwBt {
    outline: none;
    margin: 10px 0 30px 0;
    width: 150px;
    height: 35px;
    color: #0A417A;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid rgba(128, 128, 128, 0.3);
}
