footer{
    background-color: #0f3571;
    height: 200px;
    width: 100%;
    color: lightgray;
}

.footer-area {
    padding-top: 25px;
    width: 350px;
    display: block;
    margin: auto;
}

.introduce * {
    margin-top: 0px;
    margin-bottom: 0px;
}