main{
    margin: 0 auto;
    width: 1200px;
}

.button-area {
	margin-top: 25px;
	display: flex;
	justify-content: flex-end;
}

.goRecruit {
	outline: none;
    border: none;
    margin-left: 15px;
    padding-bottom: 2px;
    width: 130px;
    height: 50px;
    background-color: #7BDAD0;
    color: white;
    border-radius: 22px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.recommend-area{
    height: 300px;
    margin-bottom: 20px;
}

.recommend-area p{
	font-size: 26px;
	font-weight: 700;
}

.content-area{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.content-item{
    border: 2px solid rgba(128, 128, 128, 0.7);
    border-radius: 10px;
    height: 150px;
    width: 270px;
    padding: 10px;
}

.category {
	color: #656565;
	font-weight: 700;
	font-size: 18px;
}

.closing-date {
	margin-top: 20px;
	color: #9F9F9F;
	font-size: 15px;
	font-weight: 500;
}

.title {
	color: black;
	font-size: 20px;
	font-weight: 500;
	line-height: 140%;
	margin-top: 20px;
}

.view {
	display: flex;
	justify-content: flex-end;
	color: #717171;
	font-size: 16px;
	font-weight: 700;
}

.list-area{
	margin-bottom: 70px;
}

.study-type{
	height: 70px;
	font-size: 26px;
	font-weight: 700;
	color: #aaa;
	display: flex;
	gap: 20px;
	cursor: pointer;
}

.study-type .selected{
	color: black;
}

.search-detail{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.filter-bar{
	display: flex;
	gap: 10px;
}

.filter-bar select{
	padding: 8px 10px 8px 8px;
	border-radius: 8px;
	border: 1px solid #ccc;
	background-color: #fff;
	cursor: pointer;
}

.search-bar{
    width: 250px;
    height: 40px;
    background-color: #F5F5F5;
    border-radius: 15px;
    display: flex;   
    align-items: center;
    cursor: text;
}

.search-bar img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    opacity: 0.5;
}

.search-ment{
    width: 90%;
    margin-left: 10px;
    margin-bottom: 2px;
}

.search-ment input[type="text"]{
    outline: none;
    border: none;
    background-color: transparent;
    color: #818181;
    margin-bottom: 5px;
    width: 97%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.search-ment input[type="text"]::placeholder{
	color: #818181;
}

#searchBt {
	width: 60px;
	height: 40px;
}


#list-cont{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 20px;
	margin-top: 30px;
}

.list-item{
	border: 1px solid #ddd;
	padding: 10px;
	border-radius: 8px;
}

.detail{
	display: flex;	
	justify-content: space-between;
	align-items: center;
}

.pagination {
	text-align: center;
	margin-bottom: 40px;
}

.pagination a {
	text-decoration: none;
	color: #555555;
	font-weight: bold;
	margin: 0 5px;
	width: 30px;
	height: 30px;
	line-height: 30px;
}

.active {
	border-bottom: 2px solid #717171;
	color: black !important;
}