main {
    margin-top: -20px;
    margin-bottom: 70px;
}

.summary-area {
    background-color: #E2DFDF;
    height: 300px;
    margin-bottom: 100px;
}

.summary-cont-area {
    width: 1200px;
    margin: 0 auto;
}

.summary-cont-title {
    padding-top: 20px;
    height: 60px;
    font-size: 28px;
    font-weight: bold;
}

.cont-wrapper1 {
    display: flex; 
    width: 1200px;
    justify-content: space-between;
}

.user-info {
    width: 250px;
    border: 1px solid #fff;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.userName {
	font-weight: 500;
}

.cont-wrapper2 {
    display: flex;
    gap: 55px;
}

.summary-cont {
    width: 200px;
    border: 1px solid #fff;
}

.summary-cont p {
	text-align: center;
}

.cntTitle {
	font-weight: bold;
	font-size: 18px;
}

.content-container {
    display: flex;
    
}

.menu-area {
    flex: 1;
}

.select-cont-area {
    flex: 3;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.menu-item {
    padding : 15px 20px;
    cursor: pointer;
    color: #333;
    border-bottom: 1px solid #ddd;
}

.menu-item.active {
    background-color: #85AAD2;
    color: white;
    font-weight: bold;
}

.menu-item a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 15px 20px;
}

.menu-item:first-child {
    border-top: 1px solid #ddd;
}


.td-title {
	display: flex;
	gap: 10px;
}

.board-main {
	display: flex;
	gap: 10px;
}

table {
	border-collapse: collapse;
	width: 80%;
}

tr{
	text-align: center;
	height: 20px;
	border-bottom: 1px solid #ddd;
}

thead{
	border-top: 2px solid #333;
	height: 50px;
}

.board-title:hover {
	cursor: pointer;
	text-decoration: underline;
}

.pagination {
	width: 80%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
}

.pagination button {
	border: none;
	background-color : white;
	outline: none;
	font-size: 15px;
	color: #555555;
}

.active {
	border-bottom: 2px solid #717171 !important;
	color: black !important;
	font-weight: bold;
}


.comment-area {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2px;
	width: 100%;
	font-size: 15px;
	
}

.comment-area:hover {
	cursor: pointer;
	text-decoration: underline;
}


.comment-date {
	color: #A8A899;
}

.comment-title {
	font-weight: bold;
	color: #A8A899;
}