main {
    height: 450px;
    width: 500px;
    margin: 0 auto;
}

.form-section {
    margin-top: 80px;
   
}

.form-content {
    border: 2px solid rgba(128, 128, 128, 0.3);
    border-radius: 1px;
    text-align: center;
    height: 220px;
    margin-top: 20px;
    padding-top: 40px;
}

.form-item {
    display: flex;
    align-items: center; 
    height: 40px;
    width: 365px;
    margin: 0 auto;
}

.form-item label{
    display: block;
    color: rgb(8, 8, 8);
    margin-right: 10px;
    width: 100px;
    font-size: 16px;
}

.form-item input{
    height: 25px;
    width: 220px;
    border: 1px solid #aaa;
}

.btn-area{
    margin-top: 30px;
}

#resetBt{
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 10px;
    width: 365px;
    height: 60px;
    background-color: #0A417A;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    line-height: 50px;
}