main {
    display: flex;
    justify-content: center;   /* 수평 정렬 */
    align-items: center;       /* 수직 정렬 */
    border-left: 1.5px solid rgba(128, 128, 128, 0.7);
    border-right: 1.5px solid rgba(128, 128, 128, 0.7);
}

.form-section{
    text-align: center; 
    padding: 60px;
    margin: 100px 0 120px 0;
    border: 2px solid rgba(128, 128, 128, 0.7);
}

.form-section h1{
    text-align: left;
    color: rgba(8, 8, 8);
}

.form-content{
    margin-bottom: 50px;
}

.form-list{
    border: 0.5px solid rgba(128, 128, 128, 0.7);
    border-radius: 5px;
    width: 500px;
    background-color: azure;
    margin-top: 30px;
}

.form-item{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 0.5px solid rgba(128, 128, 128, 0.7);
    width: 100%;
    height: 45px;
    color: #aaa;
}

.form-list .form-item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.form-list .form-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.form-item input{
    display: block;
    outline-color: #E1B800;
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    box-sizing: border-box;
}

input::placeholder {
    color: #aaa;
}

#nicknameResult {
	display: none;
	height: 40px;
	margin: 0;
	line-height: 40px;
	border: 0.5px solid rgba(128, 128, 128, 0.7);
}

#checkNickname {
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.radio-gender{
    box-sizing: border-box;
    
}

.radio-item{
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

.radio-gender input[type="radio"]:checked + label {
  background-color: #5388C0;
  color: white;
  border-color: #5388C0;
}

.radio-item input{
    appearance: none;
}

.radio-item label{
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 6px 0;
    border-radius: inherit;
    border: 1px solid #c6c6c6;
    font-size: 13px;
    color: #929294;
    text-align: center;
    cursor: pointer;
}

.error-text {
    color: #ff3f3f;
    background-color: transparent !important;
    border: 1px solid rgba(128, 128, 128, 0.7);
    display: none;
}

.emailCode{
    /* focus 클래스가 추가되면 block으로 변경 */
    display: none;
}

#btnSend {
	display: none;
}

.btn_submit {
    outline: none;
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    background-color: #FEDF45;
    color: #0A417A;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    line-height: 50px;
}
/*
#btnJoin{
    display: none;
}
*/