main{
    margin: 0 auto;
    width: 1200px;
}

.search-area {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 30px;
}

.search-bar{
    width: 85%;
    height: 40px;
    background-color: #F5F5F5;
    border-radius: 15px;
    display: flex;   
    align-items: center;
    cursor: text;
}

.search-bar img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    opacity: 0.5;
}

.search-ment{
    width: 100%;
    margin-left: 10px;
    margin-bottom: 2px;
}

.search-ment input[type="text"]{
    outline: none;
    border: none;
    background-color: transparent;
    color: #818181;
    margin-bottom: 5px;
    width: 97%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.search-ment input[type="text"]::placeholder{
	color: #818181;
}

#searchBt {
	width: 60px;
	height: 40px;
	margin-left: 10px;
}

#users-cont-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.users-cont-item{
	width: 100%;
	height: 40px;
	font-size: 16px;
	display: flex;
	border: 1px solid #ddd;
	border-bottom: none;
}

.users-cont-item:last-child {
	border-bottom: 1px solid #ddd;
}

.users-cont-item > div {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 10px;
	border-right: 1px solid #ddd;
}

.users-cont-item > div:last-child{
	border-right: none;
}

.user-detail, .user-delete, .user-restore {
	cursor: pointer;
}

.pagination {
	width: 100%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
}

.pagination button {
	border: none;
	background-color : white;
	outline: none;
	font-size: 15px;
	color: #555555;
}

.active {
	border-bottom: 2px solid #717171 !important;
	color: black !important;
	font-weight: bold;
}

#user-detail-table {
	border-collapse: collapse;
	margin-bottom: 20px;
}

#user-detail-table tr {
	height: 40px;
	border: 1px solid #ddd;
}

#user-detail-table th {
	width: 100px;
	border: 1px solid #ddd;
	
}

#user-detail-table td {
	width: 500px;
	padding: 0 10px;
	border: 1px solid #ddd;
}

#backToUsers {
	width: 60px;
	height: 40px;
}